{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
    <h1>Page about</h1>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <p> +9 (999) - 999 - 99 - 99 </p>
      <p>© 2021 Barber Shop, Inc. · <a href="#">Privacy</a></p>
  </div>
</nav>

<header class="bg-secondary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">About Our Team</h1>
  </div>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" />

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Administrator</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Manicurist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Eyebrows master</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://images.unsplash.com/photo-1615814955367-95e34592750a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=350&ixlib=rb-1.2.1&q=80&w=500" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Eyelashes master</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
<section class="features3 cid-qKT6knwV2G" id="clients2-2p">



<style>
      .img-container {
        text-align: center;
      }
    </style>
    <div class="container mb-4">
        <div class="media-container-row">

            <div class="card-body text-center">
          <h1 class="card-title mb-0">Our Partners</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-16.userapi.com/impg/SZMddsmfkGx3ont9ILln7J97YbrFo5roV49FoQ/tnrvlI7x3eA.jpg?size=120x100&quality=96&sign=babd699c1fe61835dc497a140356bb43&type=album" class="img-responsive clients-img" >
                    </div>
                </div>
            </div>
            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-16.userapi.com/impg/SZMddsmfkGx3ont9ILln7J97YbrFo5roV49FoQ/tnrvlI7x3eA.jpg?size=120x100&quality=96&sign=babd699c1fe61835dc497a140356bb43&type=album" style="text-align: center">
                    </div>
                </div>
            </div>
            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-16.userapi.com/impg/SZMddsmfkGx3ont9ILln7J97YbrFo5roV49FoQ/tnrvlI7x3eA.jpg?size=120x100&quality=96&sign=babd699c1fe61835dc497a140356bb43&type=album" class="img-responsive clients-img">
                    </div>
                </div>
            </div>
            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-16.userapi.com/impg/SZMddsmfkGx3ont9ILln7J97YbrFo5roV49FoQ/tnrvlI7x3eA.jpg?size=120x100&quality=96&sign=babd699c1fe61835dc497a140356bb43&type=album" class="img-responsive clients-img">
                    </div>
                </div>
            </div>
            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-67.userapi.com/impg/35ymwzY0CokPH-KGQLgvINqxy4bjpio4teb1ug/Am4fp5HOZOg.jpg?size=120x100&quality=96&sign=71c242ae1823ef8ceef0806dcb0cc23f&type=album" class="img-responsive clients-img">
                    </div>
                </div>
            </div>
            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-36.userapi.com/impg/JXzfDDwuaAMkBv4iFIWROX8-Bh90NH5jjGZ_ug/Z6faGJk0fpg.jpg?size=120x100&quality=96&sign=4def0a588f335bd9fd75623bf7163380&type=album" class="img-responsive clients-img">
                    </div>
                </div>
            </div>

            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-38.userapi.com/impg/kGoehbDqzi2n8q4Wz-mVsf0u-f7bCGDeptsoWg/67QCtcq4xDA.jpg?size=120x100&quality=96&sign=fabff714242fe13df41043b1396cbdb3&type=album" class="img-responsive clients-img">
                    </div>
                </div>
            </div>

            <div class="p-3 col-12 col-md-6 col-lg-3">
                <div class="client-wrapper">
                    <div class="img-container">
                        <img src="https://sun9-45.userapi.com/impg/FHb7nou0uoDF7HWfOd2HsdlyctEWsfiED9s4mA/JswSRucY3vo.jpg?size=120x100&quality=96&sign=e1cfa2d67cc6ce7f1d6d12b2948b8483&type=album" class="img-responsive clients-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}